Source: stx-oidc-auth-helm
Section: libs
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 helm,
 python3-k8sapp-oidc,
 python3-k8sapp-oidc-wheels
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: stx-oidc-auth-helm
Section: libs
Architecture: any
Depends: ${misc:Depends}
Description: StarlingX OIDC Authorization Helm Charts
 This package contains helm charts for the OIDC authorization
 application.
