#!/usr/bin/make -f
# export DH_VERBOSE = 1

export ROOT = debian/tmp
export APP_FOLDER = $(ROOT)/usr/local/share/applications/helm

export DEB_VERSION = $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
export MAJOR = $(shell echo $(DEB_VERSION) | cut -f 1 -d '.')
export MINOR_PATCH = $(shell echo $(DEB_VERSION) | cut -f 2 -d '.')

export APP_NAME = oidc-auth-apps
export APP_VERSION = $(MAJOR).$(MINOR_PATCH)
export APP_TARBALL = $(APP_NAME)-$(APP_VERSION).tgz
export HELM_FOLDER = /usr/lib/helm
export HELM_REPO = stx-platform
export STAGING = staging
export DEX_TAR_NAME = dex-0.8.2.tgz

%:
	dh $@

override_dh_auto_build:
	# patch secret-observer
	patch -p1 < files/0001-move-metadata-release-for-helmv3.patch
	# Create the TGZ file.
	cd helm-charts && make oidc-client
	cd helm-charts && make secret-observer
	# patch the dex chart
	tar xf ${DEX_TAR_NAME}
	rm ${DEX_TAR_NAME}
	patch -p1 < files/0001-Create-new-config-value-extraStaticClients.patch
	find dex -type f -print0 | xargs -0 tar zcf ${DEX_TAR_NAME}
	rm -r dex
	# Setup the staging directory.
	mkdir -p $(STAGING)
	cp files/metadata.yaml $(STAGING)
	mkdir -p $(STAGING)/charts
	cp helm-charts/*.tgz $(STAGING)/charts
	cp dex*.tgz $(STAGING)/charts
	cp -R fluxcd-manifests $(STAGING)
	# Populate metadata.
	sed -i 's/@APP_NAME@/$(APP_NAME)/g' $(STAGING)/metadata.yaml
	sed -i 's/@APP_VERSION@/$(APP_VERSION)/g' $(STAGING)/metadata.yaml
	sed -i 's/@HELM_REPO@/$(HELM_REPO)/g' $(STAGING)/metadata.yaml
	# Copy the plugins: installed in the buildroot
	mkdir -p $(STAGING)/plugins
	cp /plugins/$(APP_NAME)/*.whl $(STAGING)/plugins
	# Create the app package.
	cd $(STAGING) && find . -type f ! -name '*.md5' -print0 | xargs -0 md5sum > checksum.md5
	tar cfz $(APP_TARBALL) -C $(STAGING)/ .
	# Cleanup staging
	rm -rf $(STAGING)

override_dh_auto_install:
	# Install the app tar file.
	install -d -m 755 $(APP_FOLDER)
	install -p -D -m 755 $(APP_TARBALL) $(APP_FOLDER)

override_dh_usrlocal:
