#!/usr/bin/make -f
# export DH_VERBOSE = 1

export ROOT = debian/tmp
export APP_FOLDER = $(ROOT)/usr/local/share/applications/helm

export DEB_VERSION = $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
export MAJOR = $(shell echo $(DEB_VERSION) | cut -f 1 -d '.')
export MINOR_PATCH = $(shell echo $(DEB_VERSION) | cut -f 2 -d '.')

export APP_NAME = oidc-auth-apps
export APP_VERSION = $(MAJOR).$(MINOR_PATCH)
export APP_TARBALL = $(APP_NAME)-$(APP_VERSION).tgz
export HELM_FOLDER = /usr/lib/helm
export HELM_REPO = stx-platform
export STAGING = staging

%:
	dh $@

override_dh_auto_build:
	# Create the TGZ file.
	cd helm-charts && make oidc-client
	cd helm-charts && make secret-observer
	# Setup the staging directory.
	mkdir -p $(STAGING)
	cp files/metadata.yaml $(STAGING)
	cp manifests/manifest.yaml $(STAGING)
	mkdir -p $(STAGING)/charts
	cp helm-charts/*.tgz $(STAGING)/charts
	cp $(HELM_FOLDER)/dex*.tgz $(STAGING)/charts
	# Populate metadata.
	sed -i 's/@APP_NAME@/$(APP_NAME)/g' $(STAGING)/metadata.yaml
	sed -i 's/@APP_VERSION@/$(APP_VERSION)/g' $(STAGING)/metadata.yaml
	sed -i 's/@HELM_REPO@/$(HELM_REPO)/g' $(STAGING)/metadata.yaml
	# Copy the plugins: installed in the buildroot
	mkdir -p $(STAGING)/plugins
	cp /plugins/$(APP_NAME)/*.whl $(STAGING)/plugins
	# Create the app package.
	cd $(STAGING) && find . -type f ! -name '*.md5' -print0 | xargs -0 md5sum > checksum.md5
	tar cfz $(APP_TARBALL) -C $(STAGING)/ .
	# Cleanup staging
	rm -rf $(STAGING)

override_dh_auto_install:
	# Install the app tar file.
	install -d -m 755 $(APP_FOLDER)
	install -p -D -m 755 $(APP_TARBALL) $(APP_FOLDER)

override_dh_usrlocal:
