#!/usr/bin/make -f
# export DH_VERBOSE = 1

export ROOT = debian/tmp
export HELM_FOLDER = $(ROOT)/usr/lib/helm

%:
	dh $@

override_dh_auto_build:
	# Create the chart TGZ files.
	cp Makefile stable
	cd stable && make dex

override_dh_auto_install:
	# Install the app tar file.
	install -d -m 755 $(HELM_FOLDER)
	install -p -D -m 755 stable/*.tgz $(HELM_FOLDER)

override_dh_auto_test:
