Source: python3-k8sapp-oidc
Section: libs
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-pbr,
 python3-setuptools,
 python3-wheel,
 build-info
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: python3-k8sapp-oidc
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}
Description: StarlingX Sysinv OIDC Auth Extensions
 This package contains sysinv plugins for the OIDC authentication
 K8S app.

Package: python3-k8sapp-oidc-wheels
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, python3-wheel
Description: StarlingX Sysinv OIDC Auth Extension Wheels
 This package contains python wheels for the OIDC authentication
 K8S app plugins.
