#!/usr/bin/make -f
# export DH_VERBOSE = 1

export DEB_VERSION = $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
export PATCH_VERSION = $(shell echo $(DEB_VERSION) | cut -f 4 -d '.')
export CHART_BASE_VERSION = $(shell echo $(DEB_VERSION) | sed 's/-/./' | cut -d '.' -f 1-3)
export CHART_VERSION = $(CHART_BASE_VERSION)+STX.$(PATCH_VERSION)

export ROOT = debian/tmp
export APP_FOLDER = $(ROOT)/usr/lib/helm

%:
	dh $@

override_dh_auto_build:

	mkdir -p build/dex

	mv *.yaml build/dex
	mv Makefile build
	mv templates ci README.md LICENSE build/dex

	cd build && make CHART_VERSION=$(CHART_VERSION) dex

override_dh_auto_install:
	# Install the app tar file.
	install -d -m 755 $(APP_FOLDER)
	install -p -D -m 755 build/dex*.tgz $(APP_FOLDER)

override_dh_auto_test:
